.button {
  display: inline-block;
  background-color: #fff;
  padding: 0.5rem 2rem;
  margin-top: 5px;
  cursor: pointer;
  color: black;
  border-radius: 3px;
}
.button:hover {
  background-color: rgba(0,0,0,.85);
  color: white;
  text-decoration: none;
}
.button:active {
  background-color: yellow;
  color: black;
}