.select {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border: none;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 3px;
  border: 1px solid transparent;
}

.select:hover {
  background-color: rgba(0,0,0,.01);
  border: 1px solid rgba(0,0,0,.2);
  text-decoration: none;
}
.select:active {
  background-color: rgba(0,0,0,.05);
  border: 1px solid rgba(0,0,0,.2);
  color: black;
}