.textArea {
  box-sizing: border-box;
  padding: 0.25rem 0;
  font-size: 1.25rem;
  font-family: inherit;
  line-height: 1.5;
  width: 100%;
  min-height: 300px;
  border: none;
  resize: none;
  outline: none;
  transition: 0.2s;
}
.withToast {
  background-color: rgba(239, 243, 9, 0.2);
}
.textAreaWrapper {
  margin: 2rem 0 0.5rem;
  width: 100%;
}
